@import './theme.css';

* {
  box-sizing: border-box;
}

html {
  background-color: var(--blue);
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body, #app {
  height: 100%;
}

a {
  color: var(--orange);
  text-decoration: none;
}

a.a--blue {
  color: var(--cyan);
}

a:hover {
  text-decoration: underline;
}

.a--space {
  flex: 1;
  visibility: hidden;
}

.a--error {
  color: var(--failure);
  font-size: 16px;
  margin: 0 0 20px 0;
}

.a--success {
  color: var(--success);
}

@media(--medium) {
  html {
    font-size: 18px;
  }
}

@media(--large) {
  html {
    font-size: 24px;
  }
}

/* Fade transition*/
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .225s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity .225s ease-out;
}

/* Tabs */

.react-tabs__tab-list {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.react-tabs__tab:not(:first-child) {
  margin-left: 10px;
}

.react-tabs__tab h4.a-title {
  font-size: 24px;
  line-height: 24px;
}

.react-tabs__tab:not(.react-tabs__tab--selected) {
  cursor: pointer;
  opacity: .5;
}

.react-tabs__tab--selected {
  text-decoration: underline;
  text-decoration-color: var(--orange);
}

@media (--medium) {
  .react-tabs__tab-list {
    margin-bottom: 25px;
  }

  .react-tabs__tab:not(:first-child) {
    margin-left: 20px;
  }

  .react-tabs__tab h4.a-title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media (--large) {
  .react-tabs__tab-list {
    margin-bottom: 25px;
  }

  .react-tabs__tab:not(:first-child) {
    margin-left: 20px;
  }

  .react-tabs__tab h4.a-title {
    font-size: 42px;
    line-height: 42px;
  }
}
