@import '../../theme.css';

.a-payment {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.a-payment__already-paid {
  margin-top: 30px;
  text-align: center;
}

.a-payment__already-paid > .a-text {
  text-align: center;
}

.a-payment > .a-dashboard__content > .a-text {
  font-size: 18px;
}

.a-payment form {
  margin-top: 30px;
}

.a-payment .a-list-item {
  box-shadow: inset 0 0 0 4px transparent;
  margin-left: auto;
  margin-right: auto;
  transition: border .2s ease-out,
              box-shadow .2s ease-out;
}

.a-payment__item--selected {
  border-color: transparent !important;
  box-shadow: inset 0 0 0 4px var(--cyan) !important;
  transition: border .2s ease-in,
              box-shadow .2s ease-in !important;
}

.a-payment .a-list-item .a-title {
  font-size: 32px;
  line-height: 32px;
}

.a-payment .a-list-item .a-text {
  font-size: 18px;
  line-height: 18px;
  margin-top: 5px;
}

.a-payment .a-list-item .a-select {
  max-width: 150px;
  margin-top: 15px;
}

.a-payment .a-list-item .a-select:last-child {
  margin-left: 15px;
}

.a-payment__separator {
  /* slightly unaligned because of shadow */
  margin: 34px auto 30px;
  width: 30vw;
  height: 1px;
  background-color: var(--orange);
}

.a-payment__name {
  background-color: var(--dark);
  max-width: 280px;
  margin: 0 auto;
  padding: 20px;
}

.a-payment__firstname + .a-input,
.a-payment__lastname + .a-input {
  margin: 5px 0 20px 0;
  width: 240px;
}

.a-payment__firstname + .a-input:invalid,
.a-payment__lastname + .a-input:invalid {
  border: 1px solid var(--red);
}

.a-payment .a-button {
  display: block;
  margin: 50px auto 10px auto;
  transform: scale(1.2);
}
