@import '../../../../theme.css';

.a-intro {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.a-intro__images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
}

.a-intro__images__image {
  background-size: cover;
  flex: 1;
  flex-basis: 100%;
  max-width: 100%;
  height: 25%;
}

.a-intro__logo {
  left: 50%;
  position: absolute;
  top: 33.3333%;
  transform: translate(-50%, -50%);
}

.a-intro__title {
  bottom: 20%;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
}

.a-intro__title > h1 {
  font-size: 56px;
  line-height: 56px;
}

.a-motion-loaded .a-intro__title > h1 {
  font-size: 64px;
  line-height: 64px;
}

@media (--small) {
  .a-intro__logo {
    top: 40%;
  }

  .a-intro__logo > img {
    height: 300px;
    width: 300px;
  }

  .a-intro__title > h1.a-title {
    font-size: 62px;
    line-height: 62px;
    letter-spacing: 2px;
  }

  .a-motion-loaded .a-intro__title > h1.a-title {
    font-size: 82px;
    line-height: 82px;
    letter-spacing: 0;
  }
}

@media (--medium) {
  .a-intro__logo {
    top: 50%;
  }

  .a-intro__logo > img {
    height: 300px;
    width: 300px;
  }

  .a-intro__title {
    bottom: 10%;
  }

  .a-motion-loaded .a-intro__title {
    bottom: 10%;
  }
}

@media (--large) {
  .a-intro__images {
    flex-direction: row;
  }

  .a-intro__images__image {
    flex: 1;
    flex-basis: 50%;
    max-width: 50%;
    height: 50%;
  }

  .a-intro__logo > img {
    height: 380px;
    width: 380px;
  }
}

@media (--extralarge) {
  .a-intro__logo > img {
    height: 500px;
    width: 500px;
  }
}

